## Import Packages

In [1]:
import pandas as pd
import numpy as np
import random as rnd

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier #stochastic gradient descent
from sklearn.tree import DecisionTreeClassifier

In [3]:
import xgboost as xgb

/anaconda/envs/data-x/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# REAL CODE

In [4]:
data = pd.read_csv('founder_V0.3_founder.csv')

In [5]:
data['Primary Job Title']=data['Founder']

In [6]:
data = data.drop(['Full Name','Bio','Founder'], axis=1)

In [7]:
data

,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Success
0,0,1,14445,7,11,21,0,9,6,2,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1
1,1,1,100,2,1,1,0,0,0,1,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1
2,1,1,19678,10,6,7,0,0,0,5,"Social Media, Social, Social Network",California,1,2004,0,1,5,1
3,1,1,128,1,6,7,0,0,1,5,"Apps, Enterprise Software, Developer APIs, Fin...",California,1,2006,0,1,2,1
4,1,1,861,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
5,1,1,15,3,1,1,0,0,0,1,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
6,1,1,1,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
7,1,1,1569,2,5,6,0,0,0,7,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1
8,1,1,310,1,2,2,0,0,0,4,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1
9,1,1,3669,1,73,101,0,3,17,19,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
10,0,1,29,2,1,1,0,0,1,3,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
11,1,1,107,1,1,2,0,0,1,2,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
12,1,1,2237,4,1,1,2,1,1,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
13,1,1,5,1,1,1,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
14,0,1,90,1,0,0,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
15,1,0,575,1,1,1,0,0,0,1,"E-Commerce, Fashion, Health Care, Beauty, Cont...",California,1,2008,0,1,1,1
16,0,1,0,1,21,20,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1
17,0,1,48,1,3,3,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1
18,1,1,451,1,2,3,0,0,1,2,"Sports, Gaming, Digital Media, Social Media",New York,1,2014,0,1,1,1
19,1,0,1330,3,1,1,0,0,0,12,"E-Commerce, Apps, Media and Entertainment, Pro...",New York,1,2016,0,1,1,0
20,1,1,436,1,0,0,0,0,0,0,"Wireless, Enterprise Software, ISP",Massachusetts,1,2000,0,0,1,1
21,1,1,234,1,3,3,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
22,1,1,0,3,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
23,0,1,2,2,2,2,0,0,1,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
24,1,1,17,1,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
25,1,0,271,1,0,0,0,0,0,0,Retail,New York,1,2013,0,1,1,0
26,1,1,2764,2,2,3,0,3,1,6,"Digital Entertainment, Video, Consumer Electro...",California,1,1997,0,1,3,1
27,1,1,723,6,98,112,1,7,37,12,"Recruiting, Finance",California,1,2010,0,1,3,1
28,1,1,1155,2,1,1,0,0,0,0,"Medical, Biotechnology, Biopharma",New York,1,2014,0,1,1,0
29,1,0,581,1,3,3,0,0,0,8,"Dietary Supplements, Lifestyle, E-Commerce",California,1,2011,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18331,1,1,0,1,0,0,0,0,0,0,Information Technology,Sweden,1,2014,0,1,2,0
18332,0,0,0,1,0,0,0,0,0,0,Software,Florida,1,0,0,1,1,0
18333,1,1,0,1,0,0,0,0,0,0,"Information Technology, SaaS, Mobile Apps, mHe...",Indiana,1,2015,0,1,1,0
18334,1,1,1,1,0,0,0,0,0,0,"Email Marketing, Marketing Automation, SaaS, E...",Singapore,1,2014,0,1,3,0
18335,1,1,0,1,0,0,0,0,0,0,Information Technology,California,1,2012,0,1,2,0
18336,1,1,0,1,0,0,0,0,0,0,"Mobile, Internet, Apps, Coupons, Infrastructur...",Singapore,1,2013,0,1,4,1
18337,1,1,3,1,0,0,0,0,0,0,"Medical, Health Care, Biotechnology",Pennsylvania,1,2003,0,0,1,1
18338,1,1,0,1,0,0,0,0,0,0,"Property Management, FinTech, Finance",Japan,1,2015,0,1,1,1
18339,1,1,0,1,0,0,0,0,0,0,"Advertising Platforms, Advertising, Mobile Adv...",California,1,2013,0,1,2,0
18340,1,1,0,1,0,0,0,0,0,0,"Wireless, Mobile, IaaS, Internet of Things",United Kingdom,1,2000,0,1,2,1
18341,1,0,1,1,2,2,0,0,0,0,"Apps, Security, Mobile",California,1,2014,0,1,3,0
18342,1,1,0,2,0,0,0,0,0,0,"Nightlife, iOS, Mobile, Analytics, Big Data",New York,1,2011,0,1,2,0
18343,1,0,0,1,0,0,0,0,0,0,"Machine Learning, Content Marketing, Computer ...",California,1,2015,0,1,2,0
18344,1,1,1,1,0,0,0,0,0,0,"Content, E-Commerce",Spain,1,2013,0,1,3,0
18345,1,1,1,1,0,0,0,0,0,0,"Real Estate, SaaS",Germany,1,2010,0,1,3,1
18346,1,1,3,1,0,0,0,0,0,0,"Software, Social Media, Digital Marketing, Soc...",Australia,1,2010,0,0,2,0
18347,1,0,0,1,0,0,0,0,0,0,"Agriculture, Biotechnology, Natural Resources",Canada,1,2007,0,1,2,1
18348,1,1,0,1,0,0,0,0,0,0,"Crowdsourcing, Sports, Social Media",Canada,1,2012,0,1,3,1
18349,1,1,0,1,0,0,0,0,0,0,"Facility Management, Internet of Things, Facil...",Germany,1,2016,0,1,1,0
18350,1,1,0,1,0,0,0,0,0,0,"Mobile, Media and Entertainment, Content Marke...",California,1,2014,0,1,3,0
18351,1,1,1,1,0,0,0,0,0,0,"Health Care, Pharmaceutical, Biotechnology",United Kingdom,1,2012,0,1,5,1
18352,0,1,0,1,0,0,0,0,0,0,0,United Kingdom,1,2004,0,1,1,0
18353,1,1,0,1,0,0,0,0,0,0,"Social Network, Video Conferencing, Smart Buil...",New York,1,0,0,1,1,0
18354,1,1,0,2,0,0,0,0,0,0,"Customer Service, Market Research, Analytics, ...",California,0,2012,2017,1,2,1
18355,1,1,0,1,0,0,0,0,0,0,"Supply Chain Management, Agriculture",India,1,2008,0,1,1,1
18356,1,1,0,1,0,0,0,0,0,0,"Document Management, Transaction Processing, R...",Illinois,1,2009,0,0,2,1
18357,1,1,0,1,0,0,0,0,0,0,"Semiconductor, Electronics, Manufacturing",Oregon,1,2007,0,1,2,1
18358,1,1,0,1,0,0,0,0,0,0,"Peer to Peer, Construction, Social Network",Canada,1,2015,0,1,3,0
18359,1,1,0,1,0,0,0,0,0,0,"E-Commerce, Mobile, Mobile Payments",Massachusetts,1,2009,0,1,1,0
18360,1,1,0,2,0,0,0,0,0,1,"Content Marketing, Mobile, Publishing, Digital...",Germany,1,2011,0,1,2,0

In [8]:
#from sklearn import preprocessing 

#HQ = preprocessing.LabelEncoder()
##to convert into numbers
#data['Headquarters Location '] = HQ.fit_transform(data['Headquarters Location '])

#CAT = preprocessing.LabelEncoder()
##to convert into numbers
#data['Categories'] = CAT.fit_transform(data['Categories'])

#FOUNDER = preprocessing.LabelEncoder()
##to convert into numbers
#data['Primary Job Title'] = FOUNDER.fit_transform(data['Primary Job Title'])

In [9]:
#list(data)
data['Gender'] = data['Gender'].astype(int)

In [10]:
data.shape

(18361, 18)

In [11]:
data=data[(data.Gender==2) == False]

In [12]:
data.shape

(18230, 18)

In [13]:
df1 = data['Headquarters Location '].value_counts().reset_index(name='count').rename(columns={'index': 'Headquarters Location '})

In [14]:
data = pd.merge(data,df1,on=['Headquarters Location '], how='left' )

In [15]:
data

,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Success,count
0,0,1,14445,7,11,21,0,9,6,2,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1,6535
1,1,1,100,2,1,1,0,0,0,1,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1,6535
2,1,1,19678,10,6,7,0,0,0,5,"Social Media, Social, Social Network",California,1,2004,0,1,5,1,6535
3,1,1,128,1,6,7,0,0,1,5,"Apps, Enterprise Software, Developer APIs, Fin...",California,1,2006,0,1,2,1,6535
4,1,1,861,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1,1935
5,1,1,15,3,1,1,0,0,0,1,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1,1935
6,1,1,1,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1,1935
7,1,1,1569,2,5,6,0,0,0,7,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1,6535
8,1,1,310,1,2,2,0,0,0,4,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1,6535
9,1,1,3669,1,73,101,0,3,17,19,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1,6535
10,0,1,29,2,1,1,0,0,1,3,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1,6535
11,1,1,107,1,1,2,0,0,1,2,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1,6535
12,1,1,2237,4,1,1,2,1,1,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1,223
13,1,1,5,1,1,1,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1,223
14,0,1,90,1,0,0,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1,223
15,1,0,575,1,1,1,0,0,0,1,"E-Commerce, Fashion, Health Care, Beauty, Cont...",California,1,2008,0,1,1,1,6535
16,0,1,0,1,21,20,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1,6535
17,0,1,48,1,3,3,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1,6535
18,1,1,451,1,2,3,0,0,1,2,"Sports, Gaming, Digital Media, Social Media",New York,1,2014,0,1,1,1,1935
19,1,0,1330,3,1,1,0,0,0,12,"E-Commerce, Apps, Media and Entertainment, Pro...",New York,1,2016,0,1,1,0,1935
20,1,1,436,1,0,0,0,0,0,0,"Wireless, Enterprise Software, ISP",Massachusetts,1,2000,0,0,1,1,733
21,1,1,234,1,3,3,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0,27
22,1,1,0,3,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0,27
23,0,1,2,2,2,2,0,0,1,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0,27
24,1,1,17,1,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0,27
25,1,0,271,1,0,0,0,0,0,0,Retail,New York,1,2013,0,1,1,0,1935
26,1,1,2764,2,2,3,0,3,1,6,"Digital Entertainment, Video, Consumer Electro...",California,1,1997,0,1,3,1,6535
27,1,1,723,6,98,112,1,7,37,12,"Recruiting, Finance",California,1,2010,0,1,3,1,6535
28,1,1,1155,2,1,1,0,0,0,0,"Medical, Biotechnology, Biopharma",New York,1,2014,0,1,1,0,1935
29,1,0,581,1,3,3,0,0,0,8,"Dietary Supplements, Lifestyle, E-Commerce",California,1,2011,0,1,4,1,6535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,1,1,0,1,0,0,0,0,0,0,Information Technology,Sweden,1,2014,0,1,2,0,77
18201,0,0,0,1,0,0,0,0,0,0,Software,Florida,1,0,0,1,1,0,137
18202,1,1,0,1,0,0,0,0,0,0,"Information Technology, SaaS, Mobile Apps, mHe...",Indiana,1,2015,0,1,1,0,29
18203,1,1,1,1,0,0,0,0,0,0,"Email Marketing, Marketing Automation, SaaS, E...",Singapore,1,2014,0,1,3,0,222
18204,1,1,0,1,0,0,0,0,0,0,Information Technology,California,1,2012,0,1,2,0,6535
18205,1,1,0,1,0,0,0,0,0,0,"Mobile, Internet, Apps, Coupons, Infrastructur...",Singapore,1,2013,0,1,4,1,222
18206,1,1,3,1,0,0,0,0,0,0,"Medical, Health Care, Biotechnology",Pennsylvania,1,2003,0,0,1,1,137
18207,1,1,0,1,0,0,0,0,0,0,"Property Management, FinTech, Finance",Japan,1,2015,0,1,1,1,50
18208,1,1,0,1,0,0,0,0,0,0,"Advertising Platforms, Advertising, Mobile Adv...",California,1,2013,0,1,2,0,6535
18209,1,1,0,1,0,0,0,0,0,0,"Wireless, Mobile, IaaS, Internet of Things",United Kingdom,1,2000,0,1,2,1,1061
18210,1,0,1,1,2,2,0,0,0,0,"Apps, Security, Mobile",California,1,2014,0,1,3,0,6535
18211,1,1,0,2,0,0,0,0,0,0,"Nightlife, iOS, Mobile, Analytics, Big Data",New York,1,2011,0,1,2,0,1935
18212,1,0,0,1,0,0,0,0,0,0,"Machine Learning, Content Marketing, Computer ...",California,1,2015,0,1,2,0,6535
18213,1,1,1,1,0,0,0,0,0,0,"Content, E-Commerce",Spain,1,2013,0,1,3,0,125
18214,1,1,1,1,0,0,0,0,0,0,"Real Estate, SaaS",Germany,1,2010,0,1,3,1,443
18215,1,1,3,1,0,0,0,0,0,0,"Software, Social Media, Digital Marketing, Soc...",Australia,1,2010,0,0,2,0,162
18216,1,0,0,1,0,0,0,0,0,0,"Agriculture, Biotechnology, Natural Resources",Canada,1,2007,0,1,2,1,500
18217,1,1,0,1,0,0,0,0,0,0,"Crowdsourcing, Sports, Social Media",Canada,1,2012,0,1,3,1,500
18218,1,1,0,1,0,0,0,0,0,0,"Facility Management, Internet of Things, Facil...",Germany,1,2016,0,1,1,0,443
18219,1,1,0,1,0,0,0,0,0,0,"Mobile, Media and Entertainment, Content Marke...",California,1,2014,0,1,3,0,6535
18220,1,1,1,1,0,0,0,0,0,0,"Health Care, Pharmaceutical, Biotechnology",United Kingdom,1,2012,0,1,5,1,1061
18221,0,1,0,1,0,0,0,0,0,0,0,United Kingdom,1,2004,0,1,1,0,1061
18222,1,1,0,1,0,0,0,0,0,0,"Social Network, Video Conferencing, Smart Buil...",New York,1,0,0,1,1,0,1935
18223,1,1,0,2,0,0,0,0,0,0,"Customer Service, Market Research, Analytics, ...",California,0,2012,2017,1,2,1,6535
18224,1,1,0,1,0,0,0,0,0,0,"Supply Chain Management, Agriculture",India,1,2008,0,1,1,1,923
18225,1,1,0,1,0,0,0,0,0,0,"Document Management, Transaction Processing, R...",Illinois,1,2009,0,0,2,1,272
18226,1,1,0,1,0,0,0,0,0,0,"Semiconductor, Electronics, Manufacturing",Oregon,1,2007,0,1,2,1,80
18227,1,1,0,1,0,0,0,0,0,0,"Peer to Peer, Construction, Social Network",Canada,1,2015,0,1,3,0,500
18228,1,1,0,1,0,0,0,0,0,0,"E-Commerce, Mobile, Mobile Payments",Massachusetts,1,2009,0,1,1,0,733
18229,1,1,0,2,0,0,0,0,0,1,"Content Marketing, Mobile, Publishing, Digital...",Germany,1,2011,0,1,2,0,443

In [16]:
data['Headquarters Location '] = data['count']

In [17]:
data = data.drop(['count'], axis=1)

In [18]:
data

,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Success
0,0,1,14445,7,11,21,0,9,6,2,"Innovation Management, Automotive, Electronics",6535,1,2003,0,1,4,1
1,1,1,100,2,1,1,0,0,0,1,"Innovation Management, Automotive, Electronics",6535,1,2003,0,1,4,1
2,1,1,19678,10,6,7,0,0,0,5,"Social Media, Social, Social Network",6535,1,2004,0,1,5,1
3,1,1,128,1,6,7,0,0,1,5,"Apps, Enterprise Software, Developer APIs, Fin...",6535,1,2006,0,1,2,1
4,1,1,861,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",1935,1,2013,0,0,3,1
5,1,1,15,3,1,1,0,0,0,1,"Internet, Self-Storage, E-Commerce",1935,1,2013,0,0,3,1
6,1,1,1,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",1935,1,2013,0,0,3,1
7,1,1,1569,2,5,6,0,0,0,7,"Sensor, Smart Home, Manufacturing",6535,1,2010,0,1,2,1
8,1,1,310,1,2,2,0,0,0,4,"Sensor, Smart Home, Manufacturing",6535,1,2010,0,1,2,1
9,1,1,3669,1,73,101,0,3,17,19,"CRM, Cloud Computing, SaaS, Enterprise Software",6535,1,1999,0,1,2,1
10,0,1,29,2,1,1,0,0,1,3,"CRM, Cloud Computing, SaaS, Enterprise Software",6535,1,1999,0,1,2,1
11,1,1,107,1,1,2,0,0,1,2,"CRM, Cloud Computing, SaaS, Enterprise Software",6535,1,1999,0,1,2,1
12,1,1,2237,4,1,1,2,1,1,0,"E-Commerce, Marketplace, Shopping",223,1,1999,0,1,2,1
13,1,1,5,1,1,1,0,0,0,0,"E-Commerce, Marketplace, Shopping",223,1,1999,0,1,2,1
14,0,1,90,1,0,0,0,0,0,0,"E-Commerce, Marketplace, Shopping",223,1,1999,0,1,2,1
15,1,0,575,1,1,1,0,0,0,1,"E-Commerce, Fashion, Health Care, Beauty, Cont...",6535,1,2008,0,1,1,1
16,0,1,0,1,21,20,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",6535,1,2014,0,1,3,1
17,0,1,48,1,3,3,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",6535,1,2014,0,1,3,1
18,1,1,451,1,2,3,0,0,1,2,"Sports, Gaming, Digital Media, Social Media",1935,1,2014,0,1,1,1
19,1,0,1330,3,1,1,0,0,0,12,"E-Commerce, Apps, Media and Entertainment, Pro...",1935,1,2016,0,1,1,0
20,1,1,436,1,0,0,0,0,0,0,"Wireless, Enterprise Software, ISP",733,1,2000,0,0,1,1
21,1,1,234,1,3,3,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",27,1,2013,0,1,5,0
22,1,1,0,3,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",27,1,2013,0,1,5,0
23,0,1,2,2,2,2,0,0,1,0,"Fashion, E-Commerce, Lifestyle, Shopping",27,1,2013,0,1,5,0
24,1,1,17,1,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",27,1,2013,0,1,5,0
25,1,0,271,1,0,0,0,0,0,0,Retail,1935,1,2013,0,1,1,0
26,1,1,2764,2,2,3,0,3,1,6,"Digital Entertainment, Video, Consumer Electro...",6535,1,1997,0,1,3,1
27,1,1,723,6,98,112,1,7,37,12,"Recruiting, Finance",6535,1,2010,0,1,3,1
28,1,1,1155,2,1,1,0,0,0,0,"Medical, Biotechnology, Biopharma",1935,1,2014,0,1,1,0
29,1,0,581,1,3,3,0,0,0,8,"Dietary Supplements, Lifestyle, E-Commerce",6535,1,2011,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,1,1,0,1,0,0,0,0,0,0,Information Technology,77,1,2014,0,1,2,0
18201,0,0,0,1,0,0,0,0,0,0,Software,137,1,0,0,1,1,0
18202,1,1,0,1,0,0,0,0,0,0,"Information Technology, SaaS, Mobile Apps, mHe...",29,1,2015,0,1,1,0
18203,1,1,1,1,0,0,0,0,0,0,"Email Marketing, Marketing Automation, SaaS, E...",222,1,2014,0,1,3,0
18204,1,1,0,1,0,0,0,0,0,0,Information Technology,6535,1,2012,0,1,2,0
18205,1,1,0,1,0,0,0,0,0,0,"Mobile, Internet, Apps, Coupons, Infrastructur...",222,1,2013,0,1,4,1
18206,1,1,3,1,0,0,0,0,0,0,"Medical, Health Care, Biotechnology",137,1,2003,0,0,1,1
18207,1,1,0,1,0,0,0,0,0,0,"Property Management, FinTech, Finance",50,1,2015,0,1,1,1
18208,1,1,0,1,0,0,0,0,0,0,"Advertising Platforms, Advertising, Mobile Adv...",6535,1,2013,0,1,2,0
18209,1,1,0,1,0,0,0,0,0,0,"Wireless, Mobile, IaaS, Internet of Things",1061,1,2000,0,1,2,1
18210,1,0,1,1,2,2,0,0,0,0,"Apps, Security, Mobile",6535,1,2014,0,1,3,0
18211,1,1,0,2,0,0,0,0,0,0,"Nightlife, iOS, Mobile, Analytics, Big Data",1935,1,2011,0,1,2,0
18212,1,0,0,1,0,0,0,0,0,0,"Machine Learning, Content Marketing, Computer ...",6535,1,2015,0,1,2,0
18213,1,1,1,1,0,0,0,0,0,0,"Content, E-Commerce",125,1,2013,0,1,3,0
18214,1,1,1,1,0,0,0,0,0,0,"Real Estate, SaaS",443,1,2010,0,1,3,1
18215,1,1,3,1,0,0,0,0,0,0,"Software, Social Media, Digital Marketing, Soc...",162,1,2010,0,0,2,0
18216,1,0,0,1,0,0,0,0,0,0,"Agriculture, Biotechnology, Natural Resources",500,1,2007,0,1,2,1
18217,1,1,0,1,0,0,0,0,0,0,"Crowdsourcing, Sports, Social Media",500,1,2012,0,1,3,1
18218,1,1,0,1,0,0,0,0,0,0,"Facility Management, Internet of Things, Facil...",443,1,2016,0,1,1,0
18219,1,1,0,1,0,0,0,0,0,0,"Mobile, Media and Entertainment, Content Marke...",6535,1,2014,0,1,3,0
18220,1,1,1,1,0,0,0,0,0,0,"Health Care, Pharmaceutical, Biotechnology",1061,1,2012,0,1,5,1
18221,0,1,0,1,0,0,0,0,0,0,0,1061,1,2004,0,1,1,0
18222,1,1,0,1,0,0,0,0,0,0,"Social Network, Video Conferencing, Smart Buil...",1935,1,0,0,1,1,0
18223,1,1,0,2,0,0,0,0,0,0,"Customer Service, Market Research, Analytics, ...",6535,0,2012,2017,1,2,1
18224,1,1,0,1,0,0,0,0,0,0,"Supply Chain Management, Agriculture",923,1,2008,0,1,1,1
18225,1,1,0,1,0,0,0,0,0,0,"Document Management, Transaction Processing, R...",272,1,2009,0,0,2,1
18226,1,1,0,1,0,0,0,0,0,0,"Semiconductor, Electronics, Manufacturing",80,1,2007,0,1,2,1
18227,1,1,0,1,0,0,0,0,0,0,"Peer to Peer, Construction, Social Network",500,1,2015,0,1,3,0
18228,1,1,0,1,0,0,0,0,0,0,"E-Commerce, Mobile, Mobile Payments",733,1,2009,0,1,1,0
18229,1,1,0,2,0,0,0,0,0,1,"Content Marketing, Mobile, Publishing, Digital...",443,1,2011,0,1,2,0

In [19]:
data = data.drop(['Categories','Closed Date'], axis=1)

In [20]:
data

,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Headquarters Location,Operating Status,Founded Date,Company Type,Number of Founders,Success
0,0,1,14445,7,11,21,0,9,6,2,6535,1,2003,1,4,1
1,1,1,100,2,1,1,0,0,0,1,6535,1,2003,1,4,1
2,1,1,19678,10,6,7,0,0,0,5,6535,1,2004,1,5,1
3,1,1,128,1,6,7,0,0,1,5,6535,1,2006,1,2,1
4,1,1,861,1,0,0,0,0,0,0,1935,1,2013,0,3,1
5,1,1,15,3,1,1,0,0,0,1,1935,1,2013,0,3,1
6,1,1,1,1,0,0,0,0,0,0,1935,1,2013,0,3,1
7,1,1,1569,2,5,6,0,0,0,7,6535,1,2010,1,2,1
8,1,1,310,1,2,2,0,0,0,4,6535,1,2010,1,2,1
9,1,1,3669,1,73,101,0,3,17,19,6535,1,1999,1,2,1
10,0,1,29,2,1,1,0,0,1,3,6535,1,1999,1,2,1
11,1,1,107,1,1,2,0,0,1,2,6535,1,1999,1,2,1
12,1,1,2237,4,1,1,2,1,1,0,223,1,1999,1,2,1
13,1,1,5,1,1,1,0,0,0,0,223,1,1999,1,2,1
14,0,1,90,1,0,0,0,0,0,0,223,1,1999,1,2,1
15,1,0,575,1,1,1,0,0,0,1,6535,1,2008,1,1,1
16,0,1,0,1,21,20,0,0,2,0,6535,1,2014,1,3,1
17,0,1,48,1,3,3,0,0,2,0,6535,1,2014,1,3,1
18,1,1,451,1,2,3,0,0,1,2,1935,1,2014,1,1,1
19,1,0,1330,3,1,1,0,0,0,12,1935,1,2016,1,1,0
20,1,1,436,1,0,0,0,0,0,0,733,1,2000,0,1,1
21,1,1,234,1,3,3,0,0,0,0,27,1,2013,1,5,0
22,1,1,0,3,0,0,0,0,0,0,27,1,2013,1,5,0
23,0,1,2,2,2,2,0,0,1,0,27,1,2013,1,5,0
24,1,1,17,1,0,0,0,0,0,0,27,1,2013,1,5,0
25,1,0,271,1,0,0,0,0,0,0,1935,1,2013,1,1,0
26,1,1,2764,2,2,3,0,3,1,6,6535,1,1997,1,3,1
27,1,1,723,6,98,112,1,7,37,12,6535,1,2010,1,3,1
28,1,1,1155,2,1,1,0,0,0,0,1935,1,2014,1,1,0
29,1,0,581,1,3,3,0,0,0,8,6535,1,2011,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,1,1,0,1,0,0,0,0,0,0,77,1,2014,1,2,0
18201,0,0,0,1,0,0,0,0,0,0,137,1,0,1,1,0
18202,1,1,0,1,0,0,0,0,0,0,29,1,2015,1,1,0
18203,1,1,1,1,0,0,0,0,0,0,222,1,2014,1,3,0
18204,1,1,0,1,0,0,0,0,0,0,6535,1,2012,1,2,0
18205,1,1,0,1,0,0,0,0,0,0,222,1,2013,1,4,1
18206,1,1,3,1,0,0,0,0,0,0,137,1,2003,0,1,1
18207,1,1,0,1,0,0,0,0,0,0,50,1,2015,1,1,1
18208,1,1,0,1,0,0,0,0,0,0,6535,1,2013,1,2,0
18209,1,1,0,1,0,0,0,0,0,0,1061,1,2000,1,2,1
18210,1,0,1,1,2,2,0,0,0,0,6535,1,2014,1,3,0
18211,1,1,0,2,0,0,0,0,0,0,1935,1,2011,1,2,0
18212,1,0,0,1,0,0,0,0,0,0,6535,1,2015,1,2,0
18213,1,1,1,1,0,0,0,0,0,0,125,1,2013,1,3,0
18214,1,1,1,1,0,0,0,0,0,0,443,1,2010,1,3,1
18215,1,1,3,1,0,0,0,0,0,0,162,1,2010,0,2,0
18216,1,0,0,1,0,0,0,0,0,0,500,1,2007,1,2,1
18217,1,1,0,1,0,0,0,0,0,0,500,1,2012,1,3,1
18218,1,1,0,1,0,0,0,0,0,0,443,1,2016,1,1,0
18219,1,1,0,1,0,0,0,0,0,0,6535,1,2014,1,3,0
18220,1,1,1,1,0,0,0,0,0,0,1061,1,2012,1,5,1
18221,0,1,0,1,0,0,0,0,0,0,1061,1,2004,1,1,0
18222,1,1,0,1,0,0,0,0,0,0,1935,1,0,1,1,0
18223,1,1,0,2,0,0,0,0,0,0,6535,0,2012,1,2,1
18224,1,1,0,1,0,0,0,0,0,0,923,1,2008,1,1,1
18225,1,1,0,1,0,0,0,0,0,0,272,1,2009,0,2,1
18226,1,1,0,1,0,0,0,0,0,0,80,1,2007,1,2,1
18227,1,1,0,1,0,0,0,0,0,0,500,1,2015,1,3,0
18228,1,1,0,1,0,0,0,0,0,0,733,1,2009,1,1,0
18229,1,1,0,2,0,0,0,0,0,1,443,1,2011,1,2,0

In [21]:
# Normalization

In [22]:
data['Number of News Articles'] = data['Number of News Articles']/data['Number of News Articles'].max()

In [23]:
data['Number of Founded Organizations'] = data['Number of Founded Organizations']/data['Number of Founded Organizations'].max()

In [24]:
data['Number of Portfolio Companies'] = data['Number of Portfolio Companies']/data['Number of Portfolio Companies'].max()

In [25]:
data['Number of Investments_x'] = data['Number of Investments_x']/data['Number of Investments_x'].max()

In [26]:
data['Number of Partner Investments'] = data['Number of Partner Investments']/data['Number of Partner Investments'].max()

In [27]:
data['Number of Lead Investments_x'] = data['Number of Lead Investments_x']/data['Number of Lead Investments_x'].max()

In [28]:
data['Number of Exits_x'] = data['Number of Exits_x']/data['Number of Exits_x'].max()

In [29]:
data['Number of Events_x'] = data['Number of Events_x']/data['Number of Events_x'].max()

In [30]:
data['Number of Founders'] = data['Number of Founders']/data['Number of Founders'].max()

In [31]:
data['Headquarters Location '] = data['Headquarters Location ']/data['Headquarters Location '].max()

In [32]:
from sklearn.model_selection import train_test_split

X_data2 = data.iloc[:,:-1] 
Y_data2 = data['Success'] 
    
print("Feature vector shape=", X_data2.shape)
print("Class shape=", Y_data2.shape)

Feature vector shape= (18230, 15)
Class shape= (18230,)

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X_data2, Y_data2, test_size = 0.2 , random_state=100)

In [35]:
# XGBoost

gradboost = xgb.XGBClassifier(n_estimators=10000)
gradboost.fit(x_train, y_train)
y_pred_xgb = gradboost.predict(x_test)

acc_gradboost_train = round(gradboost.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_gradboost_train)

acc_gradboost_test = round(gradboost.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_gradboost_test)

Train accuracy:  83.92
Test accuracy:  76.8

In [36]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=20000)
random_forest.fit(x_train, y_train)
y_pred_rnf = random_forest.predict(x_test)
random_forest.score(x_train, y_train)

acc_random_forest_train = round(random_forest.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_random_forest_train)

acc_random_forest_test = round(random_forest.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_random_forest_test)

Train accuracy:  94.08
Test accuracy:  77.32

In [37]:
# Look at importnace of features for random forest

def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

plot_model_var_imp(random_forest, x_train, y_train)

KeyboardInterrupt:

In [38]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred_log = logreg.predict(x_test)

acc_log_train = round(logreg.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_log_train)

acc_log_test = round(logreg.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_log_test)

Train accuracy:  60.98
Test accuracy:  61.11

In [39]:
# Support Vector Machines

svc = SVC()
svc.fit(x_train, y_train)
y_pred_svm = svc.predict(x_test)

acc_svc_train = round(svc.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_svc_train)

acc_svc_test = round(svc.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_svc_test)

Train accuracy:  74.47
Test accuracy:  74.85

In [40]:
# kNN

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
acc_knn = round(knn.score(x_train, y_train) * 100, 2)
print('Training accuracy for kNN: ',acc_knn)
acc_knn = round(knn.score(x_test, y_test) * 100, 2)
print('Test accuracy for kNN: ',acc_knn)

Training accuracy for kNN:  83.74
Test accuracy for kNN:  72.71